<!DOCTYPE html>
<html>
  <head>
    <title>Bag</title>
    <% if user_signed_in? %>
    <nav class="navbar navbar-expand-lg bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/welcome/index"><img src="https://bagdex.com.br/wp-content/uploads/2022/09/logo_bagdex_01.png" style="width:50px;height:50px;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="btn btn-primary" aria-current="page" href="/welcome/index">Home</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-primary" href="/bagmons/">Bagmons</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-primary" href="/categories/">categorias</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-primary" href="/battle/">Battle</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
  <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
    
  </body>
</html>
